fastapi
uvicorn[standard]
pydantic-settings
sqlalchemy
psycopg2-binary
Alembic 
bcrypt
pyjwt
python-multipart

langchain-groq
langchain-core
langchain-huggingface
langchain
pgvector
numpy

google-auth-oauthlib
google-api-python-client
python-telegram-bot